---
import desertDark from '../assets/img/DesertDark2.png'
import desertLight from '../assets/img/DesertLight2.png'
import alexHeadshot from '../assets/img/alex-headshot-square.jpg'
import juneHeadshot from '../assets/img/june-headshot-square.jpg'
import zoeHeadshot from '../assets/img/zoe-headshot-square.jpg'
import Headliner from '../components/Headliner.astro'
import HeroText from '../components/HeroText.astro'
import Profile from '../components/Profile.astro'
import SectionHeading from '../components/SectionHeading.astro'
import Tile from '../components/Tile.astro'
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout>
  <section class="my-8">
    <div class="container">
      <Headliner lightModeImg={desertLight} darkModeImg={desertDark}>
        <div class="flex flex-col gap-8 p-8 text-center">
          <h2 class="text-4xl font-bold">
            <HeroText text="Our Mission" />
          </h2>
          <h3 class="text-xl font-light italic">
            <span>"Create the world's</span>
            <span class="text-2xl">
              <HeroText text="Lowest Stress" secondary />
            </span>
            <span>task manager"</span>
          </h3>
        </div>
      </Headliner>
    </div>
  </section>
  <section class="my-8">
    <div class="container">
      <div class="grid grid-cols-1 gap-12 py-8 md:grid-cols-2">
        <Tile invert>
          <div class="flex flex-col gap-8 p-8">
            <h3 class="text-4xl font-bold">Inspired by Neurodiversity</h3>
            <p>
              Built by and for neurodivergent individuals, Indie Bloom is designed to help you reduce the background
              stress of daily life so that you have more energy for what matters to you.
            </p>
          </div>
        </Tile>
        <Tile invert>
          <div class="flex flex-col gap-8 p-8">
            <h3 class="text-4xl font-bold line-through">Get Stuff Done</h3>
            <p>
              We put peace-of-mind ahead of productivity. Indie Bloom meets you where you are, with empathetic coaching
              to help you find small wins and build confidence.
            </p>
          </div>
        </Tile>
      </div>
    </div>
  </section>
  <section class="my-8">
    <div class="container">
      <SectionHeading text="Our Team" />
      <div class="grid grid-cols-1 gap-12 py-8 md:grid-cols-2 lg:grid-cols-3">
        <Profile
          personName="June Peters"
          personTitle="Founder and CEO"
          linkedInUrl="https://www.linkedin.com/in/saoirsejune/"
          imgUrl={juneHeadshot}
        />
        <Profile
          personName="Alex Heitzmann"
          personTitle="Founder and CTO"
          ,
          linkedInUrl="https://www.linkedin.com/in/alex-heitzmann/"
          imgUrl={alexHeadshot}
        />
        <Profile personName="Zoe Fisher" personTitle="Founding Engineer" body="" imgUrl={zoeHeadshot} />
      </div>
    </div>
  </section>
</DefaultLayout>
